@model kauaicapstone.Models.Legend
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Details";
}

{<h1>Details</h1>

<div>
    <h4>Legend</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LegendViewLocations)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.LegendViewLocations.Distinct())
            {
                <a asp-controller="ViewLocations" asp-action="Details" asp-route-id="@item.ViewLocation.ViewLocationId">@Html.DisplayFor(modelItem => item.ViewLocation.Name)</a> <br />;
            }

        </dd>
    </dl>
</div>
<div>
    @if (UserManager.GetUserAsync(User).Result.IsAdmin)
    {
        <a asp-action="Edit" asp-route-id="@Model.LegendId">Edit</a> 
        <a asp-action="Delete" asp-route-id="@Model.LegendId">Delete</a> 
    }
    <a asp-action="Index">Back to List</a>
</div>
