@model IEnumerable<kauaicapstone.Models.Legend>

@{
    ViewData["Title"] = "PendingIndex";
}

<h1>pending submissions</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
              <form>
                    <a asp-controller="Legends" asp-action="Approve" name="LegendId" class="btn btn-primary" asp-route-id="@item.LegendId"> approve </a>
                </form>

                <a asp-action="Edit" asp-route-id="@item.LegendId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LegendId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LegendId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
