@model kauaicapstone.Models.ViewModels.LocationCommentViewModel

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>location details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location.ViewPointAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.ViewPointAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.User.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.Name("Associated Legends")
        </dt>
        <dt class="col-sm-2">
            @Html.Name("Comments")
        </dt>




    </dl>
    <div>
        <dl>
            @foreach (var item in Model.Location.LegendViewLocations)
            {
                <dd>
                    <a asp-controller="Legends" asp-action="Details" asp-route-id="@item.ViewLocation.ViewLocationId">@Html.DisplayFor(modelItem => item.Legend.Title)</a>
                </dd>
            }
        <dd class="col-sm-2">
            @if (Model.Location.Comments != null)
            {
                @foreach (var item in Model.Location.Comments)
                {
                    <p> @Html.DisplayFor(modelItem => item.Message)</p>;
                    @Html.DisplayFor(modelItem => item.DatePosted) <br />;

                }
            }
         
                <form asp-controller="Comments" asp-action="Create" method="post">
                    <div class="form-group">
                        <textarea class="form-control" value="@Model.Comment.Message"> </textarea>
                        <span asp-validation-for="@Model.Location.Comments" class="text-danger"></span>
                        <idiv> <input type="submit" value="add comment" class="btn btn-primary" /></idiv>
                        <input type="hidden" name="id" asp-for="@Model.Location.ViewLocationId" value="@Model.Location.ViewLocationId" />
                    </div>
                </form>
            

            </dd>
            </dl>
            

</div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Location.ViewLocationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
